In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_json("hf://datasets/fhai50032/Symptoms_to_disease_7k/Symptoms_to_disease_7k.json")
df2 = pd.read_csv("hf://datasets/QuyenAnhDE/Diseases_Symptoms/Diseases_Symptoms.csv")
df3 = pd.read_parquet("hf://datasets/kaleem11/Disease_Symptom_Prediction_v5/data/train-00000-of-00001.parquet")
df4 = pd.read_csv("Disease_symptom_and_patient_profile_dataset.csv")

/home/alex/hackaton_mistral_alan/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df1.head()

,query,response
0,System:'You are a highly qualified doctor.and ...,You may have Jaundice
1,System:'You are a highly qualified doctor.and ...,You may have Hyperthyroidism
2,System:'You are a highly qualified doctor.and ...,You may have Dimorphic Hemmorhoids(Piles)
3,System:'You are a highly qualified doctor.and ...,You may have Tuberculosis
4,System:'You are a highly qualified doctor.and ...,You may have Alcoholic Hepatitis

In [4]:
df1['query'][0].split('\n')

["System:'You are a highly qualified doctor.and chat polietly with patients.'",
 'Patient:I may have itching,vomiting,fatigue,weight_loss,high_fever,yellowish_skin,dark_urine,abdominal_pain']

In [5]:
df1['query'] = df1['query'].apply(lambda x: x.split('\n')[1][8:])
df1.columns = ['symptoms', 'disease']
df1['symptoms'] = df1['symptoms'].apply(lambda x: x[11:])
df1['disease'] = df1['disease'].apply(lambda x: x[13:])
df1.head()

,symptoms,disease
0,"itching,vomiting,fatigue,weight_loss,high_feve...",Jaundice
1,"fatigue,weight_loss,restlessness,sweating,diar...",Hyperthyroidism
2,"constipation,pain_during_bowel_movements,pain_...",Dimorphic Hemmorhoids(Piles)
3,"chills,vomiting,fatigue,weight_loss,cough,high...",Tuberculosis
4,"vomiting,yellowish_skin,abdominal_pain,swellin...",Alcoholic Hepatitis

In [6]:
len(df1)

7043

In [7]:
df1.describe()

                                                 symptoms   disease
count                                                7043      7043
unique                                               2422      1082
top     muscle_weakness,stiff_neck,swelling_joints,mov...  Impetigo
freq                                                   90       171

In [8]:
df3['text'][0].split('/')

['<s>[INST] my Symptoms are itching  skin rash  nodal skin eruptions  dischromic  patches [',
 'INST] Disease and Precaution: Fungal infection ,bath twice ,use detol or neem in bathing water ,keep infected area dry ,use clean cloths <',
 's>']

In [9]:
df3['symptoms'] = df3['text'].apply(lambda x: x.split('/')[0][10:-1].lower())
df3['disease'] = df3['text'].apply(lambda x: x.split('/')[1][30:])
df3['symptoms'] = df3['symptoms'].apply(lambda x: x[16:])
df3.drop(columns=['text'], inplace=True)

In [10]:
df3.head()

,symptoms,disease
0,itching skin rash nodal skin eruptions disc...,"Fungal infection ,bath twice ,use detol or nee..."
1,skin rash nodal skin eruptions dischromic ...,"Fungal infection ,bath twice ,use detol or nee..."
2,itching nodal skin eruptions dischromic pat...,"Fungal infection ,bath twice ,use detol or nee..."
3,itching skin rash dischromic patches,"Fungal infection ,bath twice ,use detol or nee..."
4,itching skin rash nodal skin eruptions,"Fungal infection ,bath twice ,use detol or nee..."

In [11]:
len(df3)

4920

In [12]:
df3.describe()

,symptoms,disease
count,4920,4920
unique,304,41
top,muscle weakness stiff neck swelling joints ...,"Fungal infection ,bath twice ,use detol or nee..."
freq,90,120

In [23]:
df = pd.concat([df1, df3], ignore_index=True)

In [24]:
df

,symptoms,disease
0,"itching,vomiting,fatigue,weight_loss,high_feve...",Jaundice
1,"fatigue,weight_loss,restlessness,sweating,diar...",Hyperthyroidism
2,"constipation,pain_during_bowel_movements,pain_...",Dimorphic Hemmorhoids(Piles)
3,"chills,vomiting,fatigue,weight_loss,cough,high...",Tuberculosis
4,"vomiting,yellowish_skin,abdominal_pain,swellin...",Alcoholic Hepatitis
...,...,...
11958,vomiting headache nausea spinning movement...,"(vertigo) Paroymsal Positional Vertigo ,lie d..."
11959,skin rash pus filled pimples blackheads sc...,"Acne ,bath twice ,avoid fatty spicy food ,drin..."
11960,burning micturition bladder discomfort foul...,"Urinary tract infection ,drink plenty of water..."
11961,skin rash joint pain skin peeling silver l...,"Psoriasis ,wash hands with warm soapy water ,s..."
11962,skin rash high fever blister red sore arou...,"Impetigo ,soak affected area in warm water ,us..."

In [25]:
df.describe()

,symptoms,disease
count,11963,11963
unique,2726,1123
top,"muscle_weakness,stiff_neck,swelling_joints,mov...",Cervical Spondylosis
freq,90,171

In [26]:
display(df)

,symptoms,disease
0,"itching,vomiting,fatigue,weight_loss,high_feve...",Jaundice
1,"fatigue,weight_loss,restlessness,sweating,diar...",Hyperthyroidism
2,"constipation,pain_during_bowel_movements,pain_...",Dimorphic Hemmorhoids(Piles)
3,"chills,vomiting,fatigue,weight_loss,cough,high...",Tuberculosis
4,"vomiting,yellowish_skin,abdominal_pain,swellin...",Alcoholic Hepatitis
...,...,...
11958,vomiting headache nausea spinning movement...,"(vertigo) Paroymsal Positional Vertigo ,lie d..."
11959,skin rash pus filled pimples blackheads sc...,"Acne ,bath twice ,avoid fatty spicy food ,drin..."
11960,burning micturition bladder discomfort foul...,"Urinary tract infection ,drink plenty of water..."
11961,skin rash joint pain skin peeling silver l...,"Psoriasis ,wash hands with warm soapy water ,s..."
11962,skin rash high fever blister red sore arou...,"Impetigo ,soak affected area in warm water ,us..."

In [27]:
df.to_csv('combined_symptoms_diseases.csv', index=False)